<%- include('partials/_header') %>
<body class="main-layout">
  <%- include('partials/_navbar') %>

  <section class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh; background-color: #200129;">
    <h1 style="color: rgb(190, 111, 19); font-size: 4rem;">404</h1>
    <p style="color: rgb(149, 198, 214); font-size: 1.5rem;">Sayfa bulunamadı.</p>
    <a href="/" class="btn btn-outline-light mt-3">Anasayfaya Dön</a>
  </section>

  <%- include('partials/_footer') %>
</body>
